<a href="/users/<%= @user.slug %>">Home</a>

<h1>Edit Maintenance Task</h1>

<form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id %>/maintenance/<%= @maintenance.id %>">
  <input type="hidden" name="_method" value="patch">
  <label>Task</label>
    <select name="maintenance[name]">
      <% Maintenance.select_user_maintenance(@user).each do |task| %>
        <option <%='selected' if task == @maintenance.name%>> <%= task %> </option>
      <% end %>
    </select>
  <label>Performed on Date:</label>
    <input type="text" class="datepicker" name="maintenance[date]" value="<%= @maintenance.date %>" >
  
  <label>Performed at Miles:</label>
    <input type="text" name="maintenance[][miles]" value="<%= @maintenance.miles %>">

  <input type="submit" value="Edit Maintenance Log">
</form>

<p>
<form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id%>/maintenance/<%= @maintenance.id %>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Maintenance Log">
</form>
</p>