<div class="content">
  <a href="/users/<%= @user.slug %>" class="btn btn-xs btn-default">Dashboard</a>
  <a href="/logout" class="btn btn-xs btn-danger" id="logout">Logout</a>
  <a href="<%= @user.slug %>/cars/new" class="btn btn-xs btn-primary">Add a car</a>
  <a href="/users/<%= @user.slug %>/cars/<%= @car.id %>" class="btn btn-xs btn-primary">Back to <%= @car.make %> <%= @car.car_model %></a>
</div>

<div class="content">
  <h1>Log Maintenance</h1>

  <form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id %>/maintenance">
    <br/>
    <h4>Log from existing</h4>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td> <label for="name">Type</label> </td>
              <td> <select name="maintenance[][name]" id="name">
                    <option label=" "></option>
                    <% @maintenances.each do |task| %>
                      <option> <%= task %> </option>
                    <% end %>
                  </select> 
                </td>
            </tr>
            <tr>
              <td> <label for="description">Description:</label> </td>
              <td> <input type="text" name="maintenance[][description]" id="description"> </td>
            </tr>
            <tr>
              <td> <label for="date">Performed on Date:</label> </td>
              <td> <input type="text" class="datepicker" name="maintenance[][date]" clas="date"> </td>
            </tr>
            <tr>
              <td> <label for="miles">Performed at Miles:</label> </td>
              <td> <input type="text" name="maintenance[][miles]" id="miles"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <h4>And / or create a new log</h4>

    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td> <label for="name">Type</label> </td>
              <td> <input type="text" name="maintenance[][name]" id="name"></td>
            </tr>
            <tr>
              <td> <label for="description">Description:</label> </td>
              <td> <input type="text" name="maintenance[][description]" id="description"> </td>
            </tr>
            <tr>
              <td> <label for="date">Performed on Date:</label> </td>
              <td> <input type="text" class="datepicker" name="maintenance[][date]" class="date"> </td>
            </tr>
            <tr>
              <td> <label for="miles">Performed at Miles:</label> </td>
              <td> <input type="text" name="maintenance[][miles]" id="miles"> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <input type="submit" value="Log Maintenance" class="btn btn-xs btn-primary">
  </form>

</div>
