<a href="<%= @user.slug %>">Home</a>

<a href="/users/<%=@user.slug%>/cars/<%=@car.id%>/edit">edit <%= @car.make %> <%= @car.car_model %></a>

<p><%= @car.make %></p>
<p><%= @car.car_model %></p>
<p><%= @car.color %></p>
<p><%= @car.transmission %></p>
<p><%= @car.year %></p>
<p><%= @car.miles %></p>


<a href="/users/<%=@user.slug%>/cars/<%=@car.id%>/maintenance/new">Add maintenance task</a>

<% @car.maintenances.each do |maintenance| %>

  <%= maintenance.name %> peformed on <%= maintenance.date %>

<%end%>

<!--
<form method="POST" action="/users/<%= @user.id %>/cars">
  <button type="button" id="edit">Edit</button>
  <input type="text" class="editable" value="hello">
  <input type="submit" value="Add Car" id="create">
</form>

<form>
        <label>First Name</label>
        <input type="text" placeholder="Lorem" readonly required  /><input name="Edit" type="button" value="Edit">
        <label>First Name</label>
        <input type="text" placeholder="Lorem" required readonly /><input name="Edit" type="button" value="Edit">
        <label>Email ID</label>
        <input type="email" placeholder="Lorem" required readonly /><input name="Edit" type="button" value="Edit">
        <label>Password</label>
        <input type="password" placeholder="********" required readonly /><input name="Edit" type="Button" value="Edit">
</form>

-->