<div class="content">
  <a href="/users/<%= @user.slug %>" class="btn btn-xs btn-default">Dashboard</a>
  <a href="/logout" class="btn btn-xs btn-danger">Logout</a>
  <a href="<%= @user.slug %>/cars/new" class="btn btn-xs btn-primary">Add a car</a>
  <a href="/users/<%= @user.slug %>/cars/<%= @car.id %>" class="btn btn-xs btn-primary">Back to <%= @car.make %> <%= @car.car_model %></a>
</div>

<div class="content">

  <h1>Edit <%= @car.make%> <%= @car.car_model %>  </h1>

  <form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id%>">
    <input type="hidden" name="_method" value="patch">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Attribute</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td> <label>Make</label> </td>
                <td> <input type="text" name="car[make]" value="<%= @car.make%>"> </td>
              </tr>
              <tr>
                <td> <label>Model</label> </td>
                <td> <input type="text" name="car[car_model]" value="<%= @car.car_model %>"> </td>
              </tr>
              <tr>
                <td> <label>Color</label> </td>
                <td> <input type="text" name="car[color]" value="<%= @car.color%>"> </td>
              </tr>
              <tr>
                <td>  <label>Transmission</label> </td>
                <td> <select class="select-list"  name="car[transmission]" value="<%= @car.transmission%>">
                      <option>Manual</option>
                      <option>Automatic</option>
                    </select> 
                  </td>
              </tr>
              <tr>
                <td> <label>Year</label> </td>
                <td> <select class="select-list" name="car[year]">
                       <% i = 1900 %>
                       <% while i <= 2016 %>
                         <option <%='selected' if i == @car.year%>> <%=i%> </option>
                        <% i += 1 %>
                        <% end %>
                      </select> 
                  </td>
              </tr>
              <tr>
                <td> <label>Miles</label> </td>
                <td> <input type="text" name="car[miles]" value="<%= @car.miles%>"> </td>
              </tr>

          </tbody>
        </table>
      </div>
    </div>
      
    <input type="submit" value="Update Car" id="create" class="btn btn-xs btn-primary">
  </form>
  <br/>
</div>

<div class="content">

  <h1>Delete <%= @car.make%> <%= @car.car_model %>  </h1>

  <form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id%>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Car" class="btn btn-xs btn-danger">
  </form>
  <br/>
</div>

