
<a href="/users/<%=@user.slug%>/cars/<%=@car.id%>/edit">edit <%= @car.make %> <%= @car.car_model %></a>

<p><%= @car.make %></p>
<p><%= @car.car_model %></p>
<p><%= @car.color %></p>
<p><%= @car.transmission %></p>
<p><%= @car.year %></p>
<p><%= @car.miles %></p>

<form method="POST" action="/users/<%= @user.slug %>/cars/<%= @car.id%>/delete">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Car">
</form>
