<h1>User Dashboard</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<a href="<%= @user.slug %>/cars/new">Add a car</a>
</br>
</br>
<h2> Your Cars </h2>

<% @user.cars.each do |car| %>
  <p><%= car.make %> <%= car.car_model %> <a href="/users/<%=@user.slug%>/cars/<%=car.id%>">View Car and Maintenance Logs</a>   <a href="/users/<%=@user.slug%>/cars/<%=car.id%>/edit">Edit Car</a><p>
  <% end %>